<h2><%= t 'registrations.edit.edit', resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t 'registrations.edit.confirmation', resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t 'registrations.edit.warning'%>)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t 'registrations.edit.confirm' %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit (t 'registrations.edit.update') %>
  </div>
<% end %>

<h3><%= t 'registrations.edit.cancel_acc' %></h3>

<p><%= t 'registrations.edit.unhappy' %> <%= button_to (t 'registrations.edit.cancel_acc'), registration_path(resource_name), data: { confirm: (t 'registrations.edit.sure') }, method: :delete %></p>

<%= link_to (t 'registrations.edit.back'), :back %>
