- if notice
  .alert.alert-success
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
    %p#notice= notice

.container
  .row
    .col-lg-3
      .btn-panel.btn-panel-conversation
        %a.btn.col-lg-6.send-message-btn{:href => "", :role => "button"}
          %i.fa.fa-search
          Search
        = link_to 'New message', new_message_path, class: 'btn btn-primary col-lg-6 send-message-btn'
    .col-lg-offset-1.col-lg-7
      .btn-panel.btn-panel-msg
        %a.btn.col-lg-3.send-message-btn.pull-right{:href => "", :role => "button"}
          %i.fa.fa-gears
          Settings
  %hr
  - if @conversations.present?
    .row
      .conversation-wrap.col-lg-3
        - @conversations.each do |conversation|
          - if conversation.messages.present?
            .media.conversation
              %a.pull-left{:href => "#"}
                = image_tag('1.png', style: "width: 50px; height: 50px;")
              .media-body
                %h4.media-heading
                = link_to "#{conversation.receiver.full_name}", conversation_path(conversation), remote: true
                %br
                %small= conversation.messages.last.description
      .col-lg-8
        .message-wrap