<p><%= t 'mailer.reset_password_instructions.hello' + "#{@resource.email}" %>!</p>

<p><%= t 'mailer.reset_password_instructions.link_change_pass' %></p>

<p><%= link_to (t 'mailer.reset_password_instructions.change_pass'), edit_user_password_path(@resource, reset_password_token: @token) %></p>

<p><%= t 'mailer.reset_password_instructions.ignore' %></p>
<p><%= t 'mailer.reset_password_instructions.info' %></p>
